/* ========================================================================== */
/*   SCREEN
/* - Only root SASS file. */
/* - Contains only imports, variables and mixins */
/* - Generates screen.css */
/* ========================================================================== */

@import "./sass/webtoad.mixins";
@import "./sass/basestyles";
@import "./sass/classes";
@import "./sass/modules";
@import "./sass/media";
@import "./sass/debug";

/* Layout */
@import "./sass/@layout-header";
@import "./sass/@layout-content";
@import "./sass/@layout-footer";

/* Pages */
@import "./sass/@page-home";


/* ========================================================================== */
/* Bourbon mixin library - http://bourbon.io/ */
/* ========================================================================== */

@import "./vendor/bourbon/bourbon";


/* ========================================================================== */
/* Global variables */
/* ========================================================================== */

// For example:
// $page-width: 1200px;
// $box-shadow: 0 0 10px rgba(0, 0, 0, .15);


/* ========================================================================== */
/* Colors */
/* ========================================================================== */

// For example:
// $green: #81ac37;


/* ========================================================================== */
/* Mixins */
/* ========================================================================== */

// For example
//@mixin reset {
//margin: 0px;
//padding: 0px;
//}:
