/* ========================================================================== */
/*   SCREEN
/* - Only root SASS file. */
/* - Contains only imports, variables and mixins */
/* - Generates screen.css */
/* ========================================================================== */
/* ========================================================================== */
/* Absolute centering
/* - Height is mandatory, otherwise this method will not work */
/* - Margin can be set to "auto 0" for vertical centering only */
/* - Parent element must have position absolute or relative */
/* ========================================================================== */
/* ========================================================================== */
/*   BASESTYLES
/* - In basestyles.scss we specify basic styles valid for entire web page */
/* - Basestyles have typically very basic selector not classes! */
/* - [For example] body, html, p a, input[type="text"]  */
/* ========================================================================== */
/* ========================================================================== */
/*   CLASSES
/* - In classes.scss we specify common classes for entire web page */
/* - [For example] buttons, wells, special cases of text, product card  */
/* ========================================================================== */
/* ========================================================================== */
/*   MODULES
/* - Modules are blocks on pages that are repeated multiple times on multiple pages */
/* - [For example] e-mail subscribe box, contact form, paginator etc.  */
/* ========================================================================== */
/* ========================================================================== */
/*   FLASH MESSAGE MODULE
/* - Default module for flash messages. */
/* - Defaults to Bootstrap classes: .success, .warning, .info, .danger.  */
/* - Class .error is ok too!  */
/* ========================================================================== */
#flash .warning, #flash .info, #flash .success, #flash .error, #flash .danger {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid transparent; }
#flash .warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5; }
#flash .success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }
#flash .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }
#flash .danger, #flash .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

/* ========================================================================== */
/*   MEDIA QUERIES
/* ========================================================================== */
/* ========================================================================== */
/*   DEBUG STYLES
/* ========================================================================== */
html.debug div:empty, html.debug span:empty,
html.debug li:empty, html.debug p:empty,
html.debug td:empty, html.debug th:empty {
  padding: 0.5em;
  background: yellow; }
html.debug *[style], html.debug font, html.debug center {
  outline: 5px solid red; }
html.debug *[class=""], html.debug *[id=""] {
  outline: 5px dotted red; }
html.debug img[alt=""] {
  border: 3px dotted red; }
html.debug img:not([alt]) {
  border: 5px solid red; }
html.debug img[title=""] {
  outline: 3px dotted fuchsia; }
html.debug img:not([title]) {
  outline: 5px solid fuchsia; }
html.debug th {
  border: 2px solid red; }
html.debug th[scope="col"], html.debug th[scope="row"] {
  border: none; }
html.debug a[href]:not([title]) {
  border: 5px solid red; }
html.debug a[title=""] {
  outline: 3px dotted red; }
html.debug a[href="#"] {
  background: lime; }
html.debug a[href=""] {
  background: fuchsia; }

/* Layout */
/* ========================================================================== */
/*   @layout
/* - Contains styles specifying building blocks of the web page. */
/* - These blocks are typically common for whole web site */
/* - [For example] header, footer, content, sidebar */
/* ========================================================================== */
/* ========================================================================== */
/*   @layout
/* - Contains styles specifying building blocks of the web page. */
/* - These blocks are typically common for whole web site */
/* - [For example] header, footer, content, sidebar */
/* ========================================================================== */
/* ========================================================================== */
/*   @layout
/* - Contains styles specifying building blocks of the web page. */
/* - These blocks are typically common for whole web site */
/* - [For example] header, footer, content, sidebar */
/* ========================================================================== */
/* Pages */
/* ========================================================================== */
/*   @page
/* - Contains only styles valid for one page only and can not be reuse anywhere else */
/* - If there are some styles that can be reused look at classes.scss or modules.scss */
/* - [For example] home, contact, article, category, product-detail */
/* ========================================================================== */
/* ========================================================================== */
/* Bourbon mixin library - http://bourbon.io/ */
/* ========================================================================== */
/* ========================================================================== */
/* Global variables */
/* ========================================================================== */
/* ========================================================================== */
/* Colors */
/* ========================================================================== */
/* ========================================================================== */
/* Mixins */
/* ========================================================================== */
