/* ========================================================================== */
/* Vyresetování Skype buttonů na telefonních číslech 
/* ========================================================================== */
span.skype_pnh_container {
    display: none !important;
}
 
span.skype_pnh_print_container {
    display: inline !important;
}


/* ========================================================================== */
/* Nastavení vyhlazování ve webkit prohlížečích. Hlavně pro Mac
/* ========================================================================== */
body {
	-webkit-font-smoothing: antialiased;
}

