/* ========================================================================== */
/*   DEBUG STYLES
/* ========================================================================== */
html.debug {
  div:empty, span:empty,
  li:empty, p:empty,
  td:empty, th:empty {padding: 0.5em; background: yellow;}

  *[style], font, center {outline: 5px solid red;}
  *[class=""], *[id=""] {outline: 5px dotted red;}

  img[alt=""] {border: 3px dotted red;}
  img:not([alt]) {border: 5px solid red;}
  img[title=""] {outline: 3px dotted fuchsia;}
  img:not([title]) {outline: 5px solid fuchsia;}

  th {border: 2px solid red;}
  th[scope="col"], th[scope="row"] {border: none;}

  a[href]:not([title]) {border: 5px solid red;}
  a[title=""] {outline: 3px dotted red;}
  a[href="#"] {background: lime;}
  a[href=""] {background: fuchsia;}
}