/* ========================================================================== */
/*   MODULES
/* - Modules are blocks on pages that are repeated multiple times on multiple pages */
/* - [For example] e-mail subscribe box, contact form, paginator etc.  */
/* ========================================================================== */

/* ========================================================================== */
/*   FLASH MESSAGE MODULE
/* - Default module for flash messages. */
/* - Defaults to Bootstrap classes: .success, .warning, .info, .danger.  */
/* - Class .error is ok too!  */
/* ========================================================================== */
#flash {
  .warning, .info, .success, .error, .danger {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
  }
  .warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
  }
  .success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  .danger, .error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
  }
}
