/* ========================================================================== */
/* Absolute centering
/* - Height is mandatory, otherwise this method will not work */
/* - Margin can be set to "auto 0" for vertical centering only */
/* - Parent element must have position absolute or relative */
/* ========================================================================== */
@mixin wt-absolute-center($height, $margin: auto) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: $margin;
  height: $height;
}